/src/_build
/src/cover
/src/deps
/src/doc
/src/cover
/src/.fetch
erl_crash.dump
*.ez
*.beam
# /src/config/*.secret.exs
.elixir_ls/

# Ignore package tarball (built via "mix hex.build").
rocketpay-*.tar

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/src/priv/static/
